{% extends 'TwigBundle:Form:div_layout.html.twig' %}

{% block text_widget %}
    <div class="text_widget">
        <input type="text" {{ block('attributes') }} class="textarea"/>
    </div>
{% endblock %}